* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1#mI {
    position: absolute;
    top: 8%;
    text-align: center;
}

.game {
    width: 80%;
    height: 400px;
    border: 1px solid #000;
    position: relative;
}

.block {
    bottom: 10%;
    left: 10%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 80%;
    height: 70%;
    /* border: 1px solid #000; */
}

.game .block .base {
    bottom: -6px;
    position: absolute;
    background: #a5702a;
    width: 100%;
    height: 5px;
    border-radius: 10px;
}

.block .section {
    /* background: #9b9b9b; */
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    row-gap: 2px;
    position: relative;
}

.block .section .ring {
    width: 100%;
    height: 20px;
    border-radius: 50px;
    z-index: 1;
    cursor: pointer;
    transition: translate 0.2s ease;
}

.ring.selected {
    scale: 101%;
    translate: 0px -2px;
    border: 2px solid black;
    /* animation: moving 2s ease forwards; */
}

.block .section .stick {
    background: #a5702a;
    border-radius: 10px;
    position: absolute;
    top: 1px;
    height: 100%;
    width: 2%;
    left: 49%;
    z-index: -1;
}

.tick {
    position: absolute;
    bottom: -120px;
}

.toast {
    position: absolute;
    left: calc(50% - 175px);
    top: -100%;
    width: 350px;
    height: 70px;
    background: #fff;
    box-shadow: 0 0 4px 1px rgb(194, 194, 194);
    border-left: 10px solid red;
    border-radius: 10px;
    font-size: x-large;
    display: grid;
    place-items: center;
}

@keyframes moving {
    0% {
        position: absolute;
        transform-origin: 100%;
    }

    40% {
        top: 0;
    }


}

@keyframes popup {
}

@media (min-width: 768px) {
    .block .section .ring {
        width: 50%;
    }
}