* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: hotpink;
}

nav {
    background: white;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 2px;
}

.tabs {
    display: flex;
    position: relative;
    width: 70%;
    margin-inline: auto;
    justify-content: space-around;
}

.indicator {
    background: rgb(248, 77, 171);
    width: 24%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: move 1s linear forwards;
}

li {
    list-style: none;
    color: rgb(248, 77, 171);
    padding: 6px 0px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    /* background: #000; */
    width: 24%;
    text-align: center;
}

@keyframes move {
    33% {
        left: 6%;
        bottom: 50%;
    }
    50%{
        left: 12%;
        bottom: 90%;
    }
    66% {
        left: 18%;
        bottom: 50%;
    }
    100% {
        transform: rotateZ(3780deg);
        bottom: 0;
        left: 25.5%;
    }
}
