* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0ebeb;
    overflow: hidden;
}

.card {
    background: #fff;
    margin: auto;
    width: 220px;
    height: 300px;
    margin-top: 100px;
    border-radius: 20px;
}

.card > img {
    height: 215px;
    width: 215px;
    border-radius: 50%;
    margin: auto;
    display: block;
    /* border: 35px solid #fff; */
    z-index: 2;
    position: relative;
    margin-bottom: 10px;
}

.desc {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background: rgb(12, 189, 12);
    color: #f1f1f1;
    top: -40px;
    z-index: 1;
    position: relative;
    padding: 40px 10px;
    border-radius: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bottle {
    /* display: none; */
    margin: auto;
    margin-top: 160px;
    width: 140px;
    height: 400px;
    background: #b9b9b9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform-origin: 50% 80%;
    animation: bottleside 2s linear forwards;
    animation-delay: 1s;
}

.origin {
    position: absolute;
    left: calc(50% - 2.5px);
    top: calc(60% - 2.5px);
    height: 5px;
    width: 5px;
    background: #000;
    border-radius: 50%;
}

.bottle > .layers {
    width: 100%;
    height: 60px;
    background: #f0ebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottle > .layers div {
    background: #b9b9b9;
    height: 33.3%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0px -1px 3px 0.5px #616161e7;
}

.bottle > .layers div:nth-child(1) {
    width: 80%;
}

.bottle > .layers div:nth-child(2) {
    width: 90%;
}

.bottle > .layers div:nth-child(3) {
    width: 98%;
}

.cap {
    position: absolute;
    width: 140px;
    height: 65px;
    background: #b9b9b9;
    box-shadow: 0px 1px 2px 1px #7c7c7c;
    top: 155px;
    left: calc(50% - 70px);
    z-index: 10;
    border-radius: 4px;
    /* transition: top 0.6s linear; */
    animation-delay: 1s;
    animation: open 1s linear forwards;
}

.close {
    /* top: -5px !important; */
    animation: close 0.6s linear forwards;
}

.open {
    /* top: -110px !important; */
    animation: open 0.6s linear forwards;
}

.glass {
    width: 120px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    border-bottom: 20px solid #000;
    /* border-width: 20px 30px 0px 30px; */
    /* border-style: solid; */
    /* clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%); */
    /* rotate: -180deg; */
    top: 350px;
    animation: glassslide 1.5s linear 1s forwards;
    z-index: 50;
    position: absolute;
    left: -400px;
}

::-webkit-scrollbar {
    display: none;
}

.side {
    height: 180px;
    width: 20px;
    background: #000;
    transform-origin: bottom left;
    rotate: -8deg;
}

.side:nth-child(2) {
    rotate: 8deg;
    transform-origin: bottom right;
}

/* .glass ::before {
    width: 200px;
    height: 200px;
    background: #000;
    border: 5px solid black;
    rotate: 90deg;
    display: block;
} */

@keyframes close {
    100% {
        top: -5px;
    }
}

@keyframes open {
    100% {
        top: 25px;
    }
}

@keyframes bottleside {
    100% {
        transform: translateX(140px) translateY(-320px) rotateZ(-110deg);
    }
}

@keyframes glassslide {
    100% {
        left: 400px;
    }
}